name: Update blog posts
on:
  schedule:
    - cron: '0 0 * * *' # Runs once per day at midnight
  workflow_dispatch:
permissions:
  contents: write

jobs:
  update-blog-posts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@6a6e64abd1f651445da8e59611d0ca0110979aa5 # v1.9.4
        with:
          feed_list: 'https://josh-ops.com/feed.xml'
          date_format: 'mmm d yyyy'
          template: '<li><a href="$url">$title</a> ($date)</li>'
          tag_post_pre_newline: 'true'
          committer_username: 'github-actions[bot]'
          committer_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: | 
            docs: update blog posts
